@font-face {
    font-family: BebasNeue;
    src: url(/static/fonts/BebasNeue-Regular.ttf);
}

h1 {
    font-size: 48px;
    font-family: BebasNeue;
}

#container {
  text-align: center;
}

.block {
  display: inline-block;
  vertical-align: top;
}

#controls {
  border: 1px solid black;
  padding: 10px;
}

svg {
  border: 1px solid black;
}

td {
  padding: 5px;
}

button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}



button:hover {
    background-color: #008CBA;
    color: white;
}
