<html>
  <head>
    <title>Parties in NYC</title>
    <link rel="stylesheet" href="/static/css/stylesheet.css" />
    <script src='/static/js/d3.v4.min.js'></script>
    <script src='/static/js/boroughs.js'></script>
    <script src='/static/js/points.js'></script>
  </head>

  <body>
    <h1 id="pointInfo">No point selected</h1>
    <svg></svg>
    <br><br>
    <button id="unzoom"> Unzoom! </button>
    <button id="zoom"> Zoom! </button>
    <br><br>
    <p>Use arrow keys to move around</p>
    <script src='/static/js/plotter.js'></script>
  </body>

</html>

